@tailwind base;
@tailwind components;
@tailwind utilities;


@import "@fontsource/inter/400.css";
@import "@fontsource/inter/600.css";
@import "@fontsource/inter/700.css";

@import "@fontsource/space-grotesk/400.css";
@import "@fontsource/space-grotesk/700.css";


html {
  scroll-behavior: smooth;
}

body {
  background: #0A0A0A;
  color: #F9FAFB;
  overflow-x: hidden;
}

::selection {
  background: #00B4D8;
  color: white;
}

.container-custom {
  max-width: 1280px;
  margin-inline: auto;
  padding-inline: 1.5rem;
}

@media (min-width: 1024px) {
  .container-custom {
    padding-inline: 2rem;
  }
}